/*  */
#modalContent {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap !important;
    overflow-x: auto !important;
    overflow-y: hidden !important;
    scroll-snap-type: x mandatory;
    width: 100vw;
    height: 100vh;
}
#modalContent::-webkit-scrollbar { display: none; }

.folder-item {
    min-width: 100vw !important;
    height: 100vh;
    scroll-snap-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.folder-item img, .folder-item video { max-width: 95%; max-height: 85%; object-fit: contain; }

.mini-download-btn {
    position: absolute; top: 20px; right: 20px; background: white; color: black;
    width: 50px; height: 50px; border-radius: 50%; border: none; font-size: 24px; font-weight: bold; z-index: 9999;
}
